*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: #ffffff;
  width:30%;
  margin:0 auto;
  font-family: open sans,sans-serif;
}

.navigation {
  background-color: #3b88c4;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.back {
  float:left;
  font-size: 2em;
  color:#ffffff;
  padding-left: 3%;
}

.fa-search {
  float:right;
  font-size: 1.4em;
  color:#ffffff;
  padding-right: 3%;
  padding-top:1%;
}

h1 {
  display:inline-block;
  font-size: 2em;
  color:#ffffff;
  font-weight: bold;
}

.map {
  background-image: url(../images/Group-3.png);
  height:200px;
  background-size: cover;
}

.fa-plus {
  float:right;
  font-size: 1.6em;
  padding-right: 2%;
}

h2 {
  text-transform: uppercase;
  font-size: 1.6em;
  display: inline-block;
  font-weight: bold;
}

.direction {
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 2%;
}

.line {
  color: #3b88c4;
  padding-bottom: 1.5%;
  font-size: 1.3em;
  padding-left: 2%;
}

.bus-route {
  display:block;
}
.frequency {
  padding-bottom: 3%;
  font-size: 1.3em;
  padding-left:2%;
}


.fa-angle-right {

  font-size: 2em;
  float:right;
 padding-right: 2%;
}

.schedule {
  display: inline-block;
  width:80%;
}
